.PlayerMiscBox {
    position: absolute;
    top: 275px;
    left: 10px;
    width: 200px;
    height: 152px;
    background-color: #f4e1c1;
    padding: 8px;
    border: 1px solid #3a2a1b;
    box-sizing: border-box;
}

.inspirationButton {
    width: 10px;
    height: auto;
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #ff0000; /* Red when off */
    border: 1px solid #3a2a1b;
}

.inspirationButton.selected {
    background-color: #00ff00; /* Green when selected */
}


.PlayerMiscBox table {
    width: 90%;
    border-collapse: collapse;
    margin: 0 auto;
}

.PlayerMiscBox td, .PlayerMiscBox th {
    padding: 4px;
    text-align: center;
}

.PlayerMiscBox tr {
    height: auto;
}